<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56526846612-jpr8jdokqb90ipi455ptqi379j7dt2cg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56526846612-jpr8jdokqb90ipi455ptqi379j7dt2cg</string>
	<key>API_KEY</key>
	<string>AIzaSyCw14LrvAJ1CqdN83N-J4krvXwbynccEDc</string>
	<key>GCM_SENDER_ID</key>
	<string>56526846612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SerruyaCapital.GroupPlanner</string>
	<key>PROJECT_ID</key>
	<string>groupplanner-bd3a6</string>
	<key>STORAGE_BUCKET</key>
	<string>groupplanner-bd3a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56526846612:ios:b317bf6311271740211281</string>
</dict>
</plist>